/* General container styling */
.search-history-container {
    max-width: 800px;
    margin: 80px auto;

    padding: 20px;
    background-color: #dbdbe2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .stylish-select {
    padding: 2px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #007bff;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
  }
  
  .stylish-select:hover {
    border-color: #0056b3;
  }
  
  .stylish-select:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }
  
  /* Title styling */
  .history-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* List styling */
  .history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .history-item {
    padding: 15px;
    max-height: 150px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .history-item:hover {
    transform: scale(1.02);
    background-color:rgb(205, 228, 171);
    box-shadow: 0px 0px 5px blue;

  }
  
  .history-group-title{
    color:rgb(2, 19, 3);
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:gray;
    border-radius: 5px;
    padding:5px 10px;
  }

  .history-group-title i{
    color:rgb(48, 38, 38);
    cursor:pointer;
  }
  .history-group-title i:hover{
    color:rgb(240, 73, 73);
    transform: scale(1.1,1.1);
    transition: all 0.5 ease-in-out;
  
  }
  /* Individual text styling */
  .history-item p {
    margin: 8px 0;
    font-size: 1rem;
    color: #444;
  }
  
  .history-item span {
    color: #555;
    font-weight: bold;
  }
  
  /* No history message styling */
  .no-history {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }
  

  .deleteallbtn{
    background-color:#27275C;
    color:white;
  }

  .deleteone{
    position:absolute;
    top:5px;
    right:10px;
    font-size:20px;
    color:red;
    cursor: pointer;
  }
  .deleteone:hover{
    transform: scale(1.1,1.1);
    color:rgb(179, 68, 68);
  }
