*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
}

.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid rgba(134, 134, 223 );
    height:auto;
    background-image: linear-gradient(to top,rgba(134, 134, 202, 0.7),rgb(174, 181, 190));
    box-shadow: 0px 0px 5px rgb(79, 64, 146);
    width:auto;
    padding:30px;
    border-radius:5px;
}
form h1{
    color:purple;
    font-size:35px;
    text-align: center;
}

form input{
    padding: 5px;
    width:90%;
    margin:10px;
    border-radius: 5px;
    border:1px solid rgb(46, 71, 182);
    
}
form input:focus{
    border:1px solid rgba(0, 2, 150, 0.562);
    box-shadow: 0px 0px 5px rgb(103, 85, 187);
    outline:none;
}

form button{
    background-color:rgba(0, 0, 0, 0.719);
    color: white;
    padding:8px;
    border-radius: 5px;
    width:80%;
    cursor: pointer;
    margin:10px;
}

.login_containermsg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;

}
.login_containermsg1 h1{
    color:rgb(116, 71, 187);
    font-size:30px;
    padding:5px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.login_containermsg1{
    background-color: rgb(120, 221, 120);
    border-radius: 5px;
    box-shadow: 0px 0px 5px green;
    width:50vw;
    height:auto;
}


.loading{
    height:100px;
    width:100px;
    border:5px solid gray;
    border-radius: 50%;
    border-bottom-color:blue;
    margin:20px;
    animation:loader 1s linear infinite;
  }

  .loading_container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading_container div{
    height:100px;
    width:100px;
    border:5px solid rgba(134, 134, 202, 0.9);
    border-radius: 50%;
    border-bottom-color:rgb(73, 57, 165);
    margin:20px;
    animation:loader 1s linear infinite;
  }

  .switchlink{
    color:rgb(4, 18, 146);
    font-size:15px;

  }
  
  
  @keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
  }
  


@media screen and (max-width:380px) {
    .login_containermsg1{
        width:80vw;
        
    }

    .login_containermsg1 h1{
       font-size:20px;
    }
    
    
}



@media screen and (max-width:550px) {
  

    .loading_container div{
      height:80px;
      width:80px;
    }
 
 
  }

  

  @media screen and (max-width:350px){

    .loading_container div{
      height:70px;
      width:70px;
    }
  
  }


  

@media screen and (max-width:800px) {
    .login_containermsg1{
        width:60vw;
    }
    
}

@media screen and (max-width:700px) {
    .login_containermsg1{
        width:70vw;
        
    }

    .login_containermsg1 h1{
       font-size:25px;
    }
    
    
}


@media screen and (max-width:500px) {
    .login_containermsg1{
        width:80vw;
        
    }

    .login_containermsg1 h1{
       font-size:23px;
    }
    
    
}










