*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: purple;
    height:50px;
    padding:0px 30px;
    

    
}
nav a{
    color:white;
    text-decoration: none;
    padding:5px;
    border-bottom:purple;

}

a:hover{
    border-bottom: 1px solid white;
}
.active{
        border-bottom: 2px solid gainsboro;
}

.logoutbtn{
    background-color: rgb(187, 185, 185);
    color:rgb(24, 5, 13);
}
.username_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.username_container p{
    font-size:20px;
    color:white;
    padding:0px;
    text-align: center;
}

@media screen and (max-width:400px){

    .username_container p{
        font-size:18px;
    }

    nav{
        padding:0px 10px;
    }
    nav a{
        padding:7px;
    }
    
}