*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(39, 39, 92);
    height:60px;
    padding:0px 150px;
    position:fixed;
    z-index:20;
    width:100%;
    top:0px;
    
    

    
}
nav a{
    color:white;
    text-decoration: none;
    padding:4px;
    font-size:18px;
    border-bottom:rgb(39,39,92);

}

a:hover{
    border-bottom: 1px solid white;
}
.active{
        border-bottom: 2px solid gainsboro;
}

.logoutbtn{
    background-color: rgb(187, 185, 185);
    color:rgb(24, 5, 13);
}
.username_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.username_container p{
    font-size:20px;
    color:white;
    padding:0px;
    text-align: center;
}

@media screen and (max-width:700px){
    nav{
        padding:0px 100px;
    }

}
@media screen and (max-width:600px){
    nav{
        padding:0px 30px;
    }

}
@media screen and (max-width:400px){

    nav{
        padding:0px 80px;
    }

    .username_container p{
        font-size:18px;
    }

    nav{
        padding:0px 10px;
    }
    nav a{
        padding:7px;
    }
    
}